* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%; 
    background:url('Hpage_bg.jpg'); 
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: fixed; 

}
.navbar{
    width:1200px;
    height: 75px;
    margin: 0 auto;
    background:rgb(255, 255, 255)

}
.icon {
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #fdfdfd;
    font-size: 20px;
    font-family: Tahoma;
    padding-left: 110px;
    float: left;
    padding-top: 40px;
    margin-top: 5px
}
.logo img{
    width: 50px; 
    height: auto; 
    padding: 20px; 
    position: fixed; 
    top: 10px; 
    left: 40px; 
}
.menu{
    width:400px;
    float: left;
    height:70px;
    padding-left: 380px;
    padding-top: 20px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 16px;
    text-align: center;
}
ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out; 
}
ul li a:hover{
    color:rgb(53, 53, 153)
}
.content{
    width: 1000px;
    height: auto;
    margin: auto;
    color: #fefefe;
    padding-right: 350px;
    padding-top: 80px;
    
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 25px;
    font-style: italic;
   
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    font-size: 45px;

}

.content .cn{
    width: 160px;
    height: 40px;
    background: #4531dc;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #2b13b5;
    font-size: 60px
}
.profile {
    position: fixed;
    top: 63%;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    padding-right: 190px;
}

.profile img {
    width: 420px;
    height: auto;
    max-width: 100%;
}

.profile h2 {
    font-size: 24px; 
    font-family: tahoma;
    padding-bottom: 20px;
    color:#2b13b5
}

.profile p {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: tahoma;
    padding-bottom: 160px;
    color:#2b13b5
}
@media screen and (max-width:1200){
    .navbar{
        width:100%;
        height:100px;
    }
    ul{
        margin-left: 30px;
    }
    ul li {
        margin-left: 60px;
    }
    ul li a{
        font-size: 1.6vw;
    }
    .content{
        width: 100%;
    }
    .content h1, .content span{
        font-size: 4.5vw; 
    }
    .content .par{
        width: 90%;
        font-size: 1.5vw;
    }
    .content .cn{
        width: 13%;
        height: 3.5vw;
        font-size: 1.8vw;
    }
    .content a{
        font-size: 1.6vw
    }
}
@media screen and (max-width: 450px){
    
    .logo{
        margin-left: 140px;
        font-size: 4vw;
    }
    ul{
        margin-top: -25px;
    }
    ul li {
        margin-left: 42px;
    }
    ul li a{
        font-size: 2vw;
    }  
    .search{
        margin-top: -40px;
        margin-left: 38px;
    } 

}



